.search {
    margin-left: 150px;
    position: relative;
    & input {
        border: solid 1px $secondary-color;
        border-radius: 3px;
    }
}

.search-icon {
    position: absolute;
    background-color: $secondary-color;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 22px;
    height:22px;
    
    font-family: 'Courier New', Courier, monospace;
    right:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        height: 16px;
        width: 16px;
    }

}