@import "./Utils/_variables";
@import "./Layouts/header";
@import "./Pages/home";
@import "./Layouts/slider";
@import "./Composants/cards";
@import "./Pages/hypnose-text";
@import "./Layouts/footer";
@import "./Layouts/sliderHypno";
@import "./Layouts/login";
@import "./Layouts/newsletter";
@import "./Composants/button";
@import "./Pages/admin";
@import "./Composants/search";;
@import "./Pages/text";
@import "./Composants/book";

* {
  box-sizing: border-box;
  font-family: "PT SANS", sans-serif;
}

body {
  background-color: $back-color;
  margin: 0;
  padding: 0;
  
}

