.main-hypnose-text {
  width: 90%;
  margin: auto;
  &__presentation {
    padding-left: 40px;
  }
  border-left: 1px $primary-color solid;
  & h2 {
    color: $primary-color;
    text-transform: uppercase;
  }
}

.filter-card {
  padding-left: 40px;
  display: flex;
  flex-direction: row;
}

.card-container {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}



.filter-container {
  margin-top: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  & form {
    display: flex;
    flex-direction: column;
    & select {
        border: solid 2px $secondary-color;
        border-radius: 5px;
    }
  }
}

#filter-tri select {
  width: 85%;
  
}
#filter-price input {
  width: 30%;
}
