header {
  width: 100%;
  padding: 10px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  & a {
    text-decoration: none;

}
}

.header-logo {
  margin-right: 60px;

}

.header-nav {
  width: 60%;
}
.header-nav ul {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  & li {
    list-style-type: none;
    color: $primary-color;
    font-family: "PT SANS", sans-serif;
    height: 23px;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
    & a {
        color: $primary-color;
    }
    &:hover {
      background-color: darken($back-color, 10%);
    }
  }
}

.header-account {
  position: absolute;
  right: 20px;
  width: 150px;
}

.header-account ul {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  font-size: 1em;
  & li {
    list-style-type: none;
    
  }
}

.header-account__cart {
  position: relative;
  & i {
    color: $secondary-color;
    font-size: 1.5em;
  }
}

.cart-number {
  width: 20px;
  height: 20px;
  z-index: -1;
  border-radius: 50%;
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 50%;
  font-size: 0.8em;
  transform: translateX(-50%)
}

.header-account__button {
  background-color: $secondary-color;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

// --------------- Menu déroulant

.header-nav__scrolling {
  position: relative;
  &::after {
    content: ">";
    margin-left: 7px;
    display: inline-block;
  }
}

.header-nav__subnav {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 24px;
  left: 50%;
  font-size: 0.8em;
  flex-grow: 1;
  background-color: $back-color;
  transform: translateX(-50%) scaley(0);
  text-align: center;
  transform-origin: top;
  & li:hover {
    border-bottom: none;
    background-color: darken($back-color, 10%);
  }
}

.header-nav__scrolling:hover::after {
  animation: rotationFleche 0.2s linear forwards;
}

.header-nav__scrolling:hover > .header-nav__subnav {
  animation: apparitionSousMenu 0.2s forwards ease-out;
}

@keyframes apparitionSousMenu {
  0% {
    transform: translateX(-50%) scaley(0);
  }

  100% {
    transform: translateX(-50%) scaley(1);
  }
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
