/* Slideshow container */
.slideshow-hypno-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides-hypno {
  display: none;

  & img {
    margin: auto;
  }
}

/* Next & previous buttons */
.prev-hypno,
.next-hypno {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $secondary-color;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next-hypno {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev-hypno:hover,
.next-hypno:hover {

  color: darken($secondary-color, 10%);
}

/* Caption text */
.text-hypno {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext-hypno {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-hypno {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $secondary-color;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot-hypno:hover {
  background-color: darken($secondary-color, 10%);
}

/* Fading animation */
.fade-hypno {
  animation: fade-hypno 0.5s forwards;
}

.hypno-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
  position: relative;
  height: 400px;
  width: 80%;
}

.hypno-avatar {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  margin: none;
  display: flex;
  & img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.hypno-container1 {
  background: url(../../pict/assets/forme1.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.hypno-container2 {
  background: url(../../pict/assets/forme2.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.hypno-container3 {
  background: url(../../pict/assets/forme3.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.hypno-resume {
  display: flex;
  align-items: center;
  padding:15px;
  text-align: center;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  border: solid 1px $secondary-color;
  background-color: rgba(255,255,255, 0.8);
}

@-webkit-keyframes fade-hypno {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-hypno {
  0% {
      transform: scaleX(0.9) translateX(250px);
      transform-origin: left;
    opacity: 0.4;

  }
  50%{
    opacity: 1;
    transform: scalex(1.1);
  }
  90%{
    transform: scalex(0.99);
  }
  100%{
    transform: scalex(1);
  }
}
